<template name="HomeLayout">
    <header>
        <!-- Intro -->
        <div class="view hm-black-strong">
            <div class="full-bg-img flex-center">
                <div class="container">
                    <div class="row">
                        <!--First column-->
                        <div class="col-md-12">
                            <div class="description">
                                <h2 class="h1-responsive animated fadeInLeft">T3-Open</h2>
                                <hr class="hr-dark">
                                <p class="h3-responsive animated fadeInRight" data-animated-delay="0.2s">Open Sourced - Tick Tack Toe Multi Player Game</p>
                                <br>
                            </div>
                        </div>
                        <!--/.First column-->
                        <!--Second column-->
                        <div class="col-md-12">
                            <!--Form-->
                            <div class="play-now animated fadeInUp" data-animated-delay="0.4s">
                                <div class="btn btn-success" id="playNow">Play Now!</div>
                            </div>
                            <!--/.Form-->
                        </div>
                        <!--/Second column-->
                    </div>
                </div>
            </div>
        </div>
        <!-- ENd Intro -->
    </header>
    <div class="container">
        <section class="section">
            <row>            
                <div class="col-md-12 card card-block about-card">
                    <h2 class="h2-responsive">About Tic-Tac-Toe</h2>
                    <hr class="hr-dark">
                    <p>An early variation of tic-tac-toe was played in the Roman Empire, around the first century BC. It was called
                        Terni Lapilli and instead of having any number of pieces, each player only had three, thus they had to move
                        them around to empty spaces to keep playing.</p>
                    <p>The game's grid markings have been found chalked all over Rome. However, according to Claudia Zaslavsky's book
                        Tic Tac Toe: And Other Three-In-A Row Games from Ancient Egypt to the Modern Computer, Tic-tac-toe could
                        be traced back to ancient Egypt. Another closely related ancient game is Three Men's Morris which is also
                        played on a simple grid and requires three pieces in a row to finish.</p>
                    <p><a href="https://en.wikipedia.org/wiki/Tic-tac-toe" target="_blank">Click here</a> to read more about tic tac
                        toe.</p>
                </div>
            </row>
        </section>

        <section class="section">
            <!--Section heading-->
            <div class="row built-with">
                <div class="col-md-12">
                    <h1 class="h1-responsive">Built With</h1>
                    Below you can find the technologies that are used to build this game.
                </div>
                
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center">
                    <div class="card testimonial-card other-cards">
                        <div class="card-up teal stylish-color">
                        </div>
                        <div class="avatar">
                            <img src="/img/meteorjs-logo.png" class="rounded-circle img-responsive">
                        </div>
                        <h3 class="h3-responsive"><a href="http://meteor.com" target="_blank">Meteor JS</a></h3>
                        <p>Back-Frontend Framework</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center">
                    <div class="card testimonial-card other-cards">
                        <div class="card-up teal success-color-dark">
                        </div>
                        <div class="avatar flex-center">
                            <img src="/img/mongodb-logo.jpg" class="rounded-circle img-responsive">
                        </div>
                        <h3 class="h3-responsive"><a href="http://mongodb.com/" target="_blank">MongoDB</a></h3>
                        <p>Database</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center">
                    <div class="card testimonial-card other-cards">
                        <div class="card-up teal secondary-color">
                        </div>
                        <div class="avatar">
                            <img src="/img/bootstrap-logo.jpg" class="rounded-circle img-responsive">
                        </div>
                        <h3 class="h3-responsive"><a href="https://v4-alpha.getbootstrap.com/" target="_blank">Bootstrap 4.0</a></h3>
                        <p>Responsive Design Griding System</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center">
                    <div class="card testimonial-card other-cards">
                        <div class="card-up teal warning-color">
                        </div>
                        <div class="avatar flex-center">
                            <img src="/img/mdb-logo.png" class="rounded-circle img-responsive">
                        </div>
                        <h3 class="h3-responsive"><a href="http://mdbootstrap.com/" target="_blank">Material Design Bootstrap</a></h3>
                        <p>Google MD for Bootstrap</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center">
                    <div class="card testimonial-card other-cards">
                        <div class="card-up teal danger-color">
                        </div>
                        <div class="avatar flex-center">
                            <img src="/img/blazejs-logo.png" class="rounded-circle img-responsive">
                        </div>
                        <h3 class="h3-responsive"><a href="http://blazejs.org/" target="_blank">BlazeJS</a></h3>
                        <p>Templating system</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center">
                    <div class="card testimonial-card other-cards">
                        <div class="card-up teal info-color-dark">
                        </div>
                        <div class="avatar flex-center">
                            <img src="/img/jquery-logo.jpg" class="rounded-circle img-responsive">
                        </div>
                        <h3 class="h3-responsive"><a href="http://jquery.com/" target="_blank">jQuery</a></h3>
                        <p>JS Querying made easy</p>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer class="page-footer blue center-on-small-only">
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2016 All rights are yours: <a href="https://github.com/emrexhepi/t3-open"> T3-Open repository </a>

            </div>
        </div>
    </footer>
</template>